#main{
    position: relative;
    display: flex;
    background-color: #5089C6;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#section{
    
   position: relative;
    /* justify-content: center; */
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    /* box-shadow: 10px 10px #F2E1C1; */
    width: 50vw;
    height: 85vh;
    
}
#h1{
    margin-left: 20vw;
    font-size: 30px;
   align-self: center;
}
#input{
    margin-left: 20px;
    width: 70%;
    height: 30px;
    /* align-self: center;
    justify-content: center; */

}
table{
    /* display: flex; */
    margin-left: 20px;
    margin-top: 5px;
    padding: 10px;
    width: 87%;
    background-color: greenyellow;
    border: green;
}
td {
    text-align: center;
}
.button{
    
    width: 15%;
    height: 35px;
    background-color: greenyellow;
    border-radius: 5px;
    color: white;
    /* align-self: center;
    align-items: center; */

}
img{
    width: 20px;
    height: 20px;
}
body{
    margin: none;
    padding: none;
}
